
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

*
{
    margin: 0;
    padding: 0;
}

body
{
    background: #FFFFFF url(images/img01.jpg) repeat-x left -10px;
    text-align: justify;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 11px;
    color: #757E82;
    margin: 0;
    padding: 0;
}

h1, h2, h3
{
    color: #AA2808;
}

h1
{
}

h2
{
    text-transform: uppercase;
    text-align: center;
}

h3
{
}

p, blockquote, ul, ol
{
    margin-bottom: 20px;
    line-height: 2em;
}

p
{
}

blockquote
{
}

ul, ol, li
{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

a
{
    text-decoration: underline;
    color: #F40C42;
}

a:hover
{
    text-decoration: none;
    color: #F40C42;
}

/* Wrapper */

#container
{
}

/* Header */

#header
{
    width: 660px;
    height: 130px;
    margin: 0 auto;
}

/* Logo */

#logo
{
    text-align: left;
    float: left;
    width: 330px;
    height: 76px;
    margin: 0px;
    padding: 10px 0px 0px 00px;
}

#logo h1
{
    text-align: left;
    margin: 0;
    padding: 0;
    text-transform: lowercase;
    font: normal 46px Georgia, "Times New Roman" , Times, serif;
}

#logo h2
{
    text-align: left;
    margin: 0px 0 0 0;
    padding: 0px 0px 0px 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 10px;
    font-weight: normal;
    color: #D9170E;
}

#logo h2 a
{
    color: #9AA9B1;
}

#logo a
{
    text-decoration: none;
    color: #D9170E;
}

/* Menu */

#navlist
{
    float: right;
    height: 90px;
}

#navlist ul
{
    margin: 0;
    padding: 0px 0 0 20px;
    list-style: none;
    line-height: normal;
    margin-left: 30px;
}

#navlist li
{
    display: inline;
    text-align: center;
}

#navlist a
{
    display: block;
    float: left;
    height: 55px;
    margin-right: 1px;
    padding: 35px 20px 0px 20px;
    letter-spacing: -1px;
    text-decoration: none;
    text-align: center;
    text-transform: lowercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: normal;
    color: #383B3F;
}

#current, #navlist a:hover
{
    background: #F40C42 url(images/img02.jpg) repeat-x left bottom;
    color: #FFFFFF;
}

/* Search */

#search
{
    padding: 0px 0px 40px 0px;
}

#search form
{
    margin: 0;
    padding: 0;
}

#search fieldset
{
    margin: 0;
    padding: 0;
    border: none;
}

#search input
{
    float: left;
    font: 11px Tahoma, Geneva, sans-serif;
    padding: 2px 2px;
}

#search-text
{
    width: 100px;
    border: 1px solid #000000;
    color: #000000;
}

#search-submit
{
    height: 21px;
    margin-left: 10px;
    padding: 0px 2px;
    border: none;
    background: #E71810;
    color: #FFFFFF;
}

/* Page */

#content-section
{
    width: 630px;
    margin: 0 auto;
}

/* Content */

#content
{
    float: left;
    width: 630px;
}

.post
{
    background: url(images/img05.jpg) repeat-y left top;
}

.post-bgtop
{
    background: url(images/img04.jpg) no-repeat left top;
}

.post-bgbtm
{
    background: url(images/img06.jpg) no-repeat left bottom;
    padding: 50px 40px 30px 40px;
}

.post .title
{
    margin: 0px 0 0 0;
    padding: 0px 0px 0px 0px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 5px;
    font-weight: normal;
    color: #D9170E;
}

.post .entry
{
}

.post .meta
{
}

.post .more
{
    display: block;
    width: 115px;
    height: 32px;
    padding: 8px 0px 0px 0px;
    background: url(images/img12.jpg) no-repeat left top;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: #FFFFFF;
}

.post .byline
{
    font-size: 11px;
    font-style: italic;
}

/* Submenu */

#submenu
{
}

/* News */

#news
{
}

#news a
{
    font-size: 85%;
}

/* Footer */

#footer-wrapper
{
    background: #F7F7F7 url(images/img03.jpg) repeat-x left top;
    padding: 20px 0px;
}

#footer
{
    width: 900px;
    margin: 0 auto;
    color: #757E82;
}

#footer p
{
    margin: 0;
    text-align: center;
    font-size: 11px;
}

#footer a
{
    text-decoration: underline;
    color: #757E82;
}

#footer a:hover
{
    text-decoration: none;
    color: #F90542;
}

.button
{
    border-width: 0;
    display: block;
    width: 115px;
    height: 40px;
    padding: 0px 0px 0px 0px;
    background: url(images/img12.jpg) no-repeat left top;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: #FFFFFF;
}

/* Tablas */
.table td
{
    height: 19px;
    text-align: center;
    color: #000;
}

.table th
{
    width: 90px;
    height: 20px;
    text-transform: uppercase;
    text-align: center;
    background-color: #D9170E;
    color: White;
}

.table .ya-no-vigente
{
    background-color: White;
}

.table .aun-no-vigente
{
    background-color: #ff9694;
}

.table .vigente
{
    background-color: #c0e671;
}

.table .entregado 
{
    background-color:#bdf37d;
}

.table .pendiente
{
    background-color:#f37d7d;
}

.fileButton
{
    width: 420px;
}
