@font-face {
  font-family: "Myriad Pro";
  src: url(fonts/MyriadPro-Regular.otf);
  }

html {
	margin: 0px;
	}
	
body{
	margin:0px;
	font-family:Arial, Helvetica, sans-serif;
	background-color:#444a50;
	}

/* Containers
----------------------------------------------------------------------------------------------------*/
#ExtremeBigPage {
	background-color:#a5adb5;
	background-image:url(../images/bg_top.jpg);
	background-position:top;
	background-repeat:repeat-x;
	border-bottom:0px #350505 solid;
}
#BigPage {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	text-align:left;	
	padding-bottom:40px;
	
}
a{
	text-decoration:none;
	color:#333f44;
	}
a:hover{
	color:#800000;
	border-bottom:1px dotted #800000;
}
img
{
    border:none;
}

h1, h2, h3, h4, h5, h6, h7{
	font-weight:bold;
	color:#911212;
	}
	
.box .Button{
	width:70px;
	height:30px;
	font-weight:bold;
	background-color:#901311;
	color:#f3f3f3;
	font-size:11px;
	border:1px solid #85100f;
	}

.box .Button:hover{
	background-color:#330508;
	border:1px solid #85100f;
	cursor:hand;
	}

.box .TextBox{
	background-color:#f3f3f3;
	border: 1px solid #bdc2c5;
	height:24px;	
	background-repeat:no-repeat;
	background-position:right;
	width:120px;
	padding-right:28px;
	padding-left:8px;
	}
/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
	margin-left: 0 !important;
}

.omega {
	margin-right: 0 !important;
}

/* Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

.clear {
	clear: both;
	visibility: hidden;
	width: 0;
	height: 0;
}


.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}

/* HEADER
----------------------------------------------------------------------------------------------------*/
#header{
	height:120px;
	font-size:12px;
	}
#header .epse{
	width:320px;
	height:120px;
	display:inline-block;
	float:left;
	background-image:url(../images/logo.jpg);
	font-family:"Myriad Pro",Verdana;
	}

#header .user{
	width:330px;
	height:90px;
	float:right;
	background-image:url(../images/user.jpg);
	background-repeat:no-repeat;
	}
.user .detalles{
	margin-top:44px;
	margin-left:30px;
	margin-right:70px;
	}
.user .detalles .nombre{
	display:block;
	font-size:12px;
	font-weight:bold;
	color:#566064;
	}
.user .detalles .codigo{
	display:block;
	color:#a6a6a6;
	font-size:11px;
	}
.user .foto{
	
	}
#header .log{
	width:400px;
	float:right;
	text-align:right;
	font-size:11px;
	padding-top:4px;
	}
.log span {
	padding-right:8px;
	}
.log span a{
	font-weight:bold;
	}
.log span a:hover{
	
	}

/* CONTENT
----------------------------------------------------------------------------------------------------*/

#content{	
	}
#content #izq{
	width: 140px;
	min-height:200px;
	display:inline-block;
	position:absolute;
	z-index:-1px;
	}
#izq .ciclos ul{
	
	margin:0px;
	padding:0px;
	margin-top:80px;
	text-align:right;
	list-style:none;
	}	

.ciclos ul li{
	display:inline-block;
	font-size:14px;
	margin-bottom:0px;
	font-weight:bold;
	width:140px;
	}	

.box .ciclos li {
	padding-left:10px;
	width: 130px;
	}	
.box .ciclos li a{
	padding-left:20px;
	background-color:#f2f2f2;
	color:#444a50;
	border:1px #d2d2d2 solid; 

	}	
.box .ciclos li a:hover{
	padding-left:20px;
	color:#f2f2f2;
	background-color:#901213;
	}	
.box h5{
	margin-left:50px;
	}

.ciclos ul li a{
	color:#a5adb5;
	width:80px;
	height:34px;
	display:inline-block;
	line-height:34px;
	padding-right:20px;
	background-color:#444a50;
	margin-bottom:8px;
	z-index:1px;
	}
.ciclos ul li a:hover{
	border-bottom:0px;
	color:#a5adb5;
	}
.ciclos ul li .activo {
	margin-left:20px;		
	}
.ciclos ul li .activo a{
	background-color:#94c912;
	width:100px;
	font-size:18px;
	margin-left:5px;
	color:#272727;
	margin-bottom:0px;
	}
.ciclos ul li .activo a:hover{
	color:#272727;
}
.ciclos ul li .ext {
	margin-left:20px;		
	}
.ciclos ul li .ext a{
	width:30px;
	}

.ciclos .detalles .sombra-izq{
	background-image:url(../images/ciclos_left.jpg);
	}
	
.ciclos .detalles .sombra-abajo{
	background-image:url(../images/ciclos_bottom.jpg);
}
#content #centro{
	float:left;
	width:610px;
	margin-left:135px;
	}
#centro .detalles .navegacion{
	margin-top:10px;
	margin-right:5px;
	}

.navegacion #breadcrumb
{
    background-image:url(../images/bc_bg.png); 
    background-repeat:repeat-x;
	font-size:10px;
    height:26px;
    line-height:26px;
    color:#9b9b9b;
    border:solid 0.5px #cacaca;
    overflow:hidden;
    margin:0px;
    padding:0px;
}
#breadcrumb li 
{
    list-style-type:none;
    float:left;
    padding-left:10px;
}
#breadcrumb a
{
    height:26px;
    display:block;
    background-image:url(../images/bc_separator.png); 
    background-repeat:no-repeat; 
    background-position:right;
    padding-right: 15px;
}
#breadcrumb a:hover
{
	
}

#breadcrumb img
{
    margin: 4px 0px;
}
	
.sombra-izq{
	background-image:url(../images/cursos_left.jpg);
	background-repeat:repeat-y;
	}
.sombra-der{
	margin-left:5px;
	background-image:url(../images/cursos_right.jpg);
	background-repeat:repeat-y;
	background-position:right;
	}
.sombra-abajo{
	height:10px;
	display:block;
	background-image:url(../images/cursos_bottom.jpg);
	background-repeat:no-repeat;
	}
#centro .detalles .cursos, #login .detalles .cursos{
	width:600px;
	margin-right:5px;
	display:inline-block;
	border:0.5px solid #a5adb5;
	min-height:460px;
	background-color:#f1f1f1;
	background-image:url(../images/bg_cursos.jpg);
	background-repeat:repeat-x;
	background-position:bottom;
	position:relative;
	z-index:10px;
	}

.cursos .box{
		padding:20px;
		padding-bottom:5px;
	}	

#content #der{
	width: 210px;
	float:right;
	}
#der .toolbox{	
	margin-left:1px;	
	width: 204px;
	}
.toolbox #date{
	margin-top:46px;
	padding:0px;
	width: 203px!important;
	}
.toolbox #date .datepicker{
	margin:0px;
	padding:0px;

	}
.toolbox span{

}
.toolbox .sombra-abajo{
	background-image:url(../images/cal_bottom.jpg);
	}
	
.toolbox #alertas{
	margin-top:10px;
	width: 198px;
	min-height: 96px;
	}

#alertas{
	background-color:#dfe1e3;
	border:0.5px solid #bdc2c5;
	}
#alertas .titulo{
	background-color:#ededed;
	height:30px;
	border-bottom:1px solid #bdc2c5;
	}
#alertas .titulo h3{
	display:block;
	font-weight:bold;	
	font-size:14px;
	color:#911212;
	margin:0px;
	padding-top:7px;
	padding-left:34px;
}
#alertas .lista{
	margin-top:5px;
	font-size:13px;
	padding:5px;
	padding-top:0px;
	}
#alertas .lista a{
	font-weight:bold;
}
#alertas .lista span{
	font-size:10px;
	color:#888888;
}
#alertas .lista ul{
	list-style:none;
	margin:0px;
	padding:0px;
	}
#alertas .lista ul li{
	border-bottom:1px solid #bdc2c5;
	margin:3px;
	padding:4px;
	background-color:#fffa68;
}

#alertas .lista ul .otro{
	background-color:transparent;
	border-bottom:0px;
	font-size:10px;
}
/* FOOTER
----------------------------------------------------------------------------------------------------*/
#footer{
	color:#999;
	font-family:"Myriad Pro", Arial;
	}

#footer h1{
	color:#999;
	}
#footer .texto{
	color:#999;
	font-size:14px;
	padding:20px;
	width:400px;
	height:20px;
	display:inline-block;
	padding-left:0px;
	}
#footer .Go3{
	font-weight:bold;
	float:right;
	width:30px;
	height:20px;
	display:inline-block;
	padding:20px;
	padding-right:0px;
	}




/* CSS 3 color de selcción*/

*::-moz-selection{
   background: #911212;
   color:#d5d5d5;
}

*::selection {
   background: #911212;
   color:#d5d5d5;
}
/*FIN*/
